
@font-face {
	font-family: 'GothamPro Black';
	src: url('../fonts/GothamPro-Black.eot');
	src: local('Gotham Pro Black'), local('GothamPro-Black'),
		url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Black.woff') format('woff'),
		url('../fonts/GothamPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@mixin gotham($style: black) {
    @if $style == black {
        font-family: 'GothamPro Black';
    }
}


